/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@500&display=swap');
       
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    
}
main{
    display: flex;
    justify-content: center;

}
.container{
   
    width:870px ;
    height: 679px;
    background-color:#FFFFFF ;
    padding: 0px 33px;
 
}
.playr-title{
    color: #562EFF;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500px;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    

}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    
  
    
}

.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}
.plyer-name{
    margin-left: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 29px;
}
.top-blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog-title{
    color: #562EFF;
}
.top-blogs img{
    width: 177px;
    height: 117px;
    border-radius: 5px;
}
.card1, .card2, .card3, .card4{
    display: flex;
    align-items: center;
   
}
.descrip-1, .descrip-2, .descrip-3, .descrip-4{
    margin-left: 16px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    text-align: left;


}
.sub-text{
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
text-align: left;
margin-top: 6px;
color: #562EFF;

}
.by-color{
    color: #9F9F9F;
}